<div class="container">
	<%= link_to "Back", run_path(1), class: "btn btn-default" %>
	<div class="page-header">
		<h1>Run details for #{app name}</h1>
	</div>

	<script>
		$(function () {
$('#container').highcharts({
chart: {
plotBackgroundColor: null,
plotBorderWidth: null,
plotShadow: false
},
title: {
text: 'Test results'
},
tooltip: {
pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
},
plotOptions: {
pie: {
allowPointSelect: true,
cursor: 'pointer',
dataLabels: {
enabled: true,
color: '#000000',
connectorColor: '#000000',
format: '<b>{point.name}</b>: {point.y}'
}
}
},
series: [{
type: 'pie',
name: 'Percentage',
data: [
['Passed',   <%= @counts["Passed"] %>],
['Failed',   <%= @counts["Failed"] %>],
['Pending',  <%= @counts["Pending"] %>
	]
	]
	}]
	});
	});
	</script>
	<div class="row">
		<div class="col-md-8">
			<ul class="list-group">
				<li class="list-group-item">
					<h3 class="list-group-item-heading">Time info</h3>
					<div class="row">
						<div class="col-md-6">
							<h5 class="list-group-item-heading">Start time</h5>
							<p class="list-group-item-text">
								<%= @run.created_at.strftime("%m-%d-%y %r") %>
							</p>
						</div>
						<div class="col-md-6">
							<h5 class="list-group-item-heading">Completion time</h5>
							<p class="list-group-item-text">
								<%= @run.updated_at.strftime("%m-%d-%y %r") %>
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<h3 class="list-group-item-heading">Platform info</h3>
					<div class="row">
						<div class="col-md-6">
							<h5 class="list-group-item-heading">OS</h5>
							<!--<%= image_tag("#{@run.os.downcase}.png") %>-->
							<p class="list-group-item-text">
								<%= @run.os %>
							</p>
						</div>
						<div class="col-md-6">
							<h5 class="list-group-item-heading">Browser</h5>
							<p class="list-group-item-text">
								<%= @run.browser.capitalize %> <%= @run.browser_version%>
							</p>
						</div>
					</div>
				</li>

				<li class="list-group-item">
					<h5 class="list-group-item-heading">Filter</h5>
					<p class="list-group-item-text">
						*
					</p>
				</li>
				<li class="list-group-item">
					<h5 class="list-group-item-heading">Sauce url</h5>
					<p class="list-group-item-text">
						<%= link_to "Saucelabs details",
						"https://saucelabs.com/jobs/ef9138bbc29645f38cc5bb691fb34d9c?auth=2875d55393717b7b017698f99a8745e8",
						:target => '_blank' %>
					</p>
				</li>
				<li class="list-group-item">
					<h5 class="list-group-item-heading">Sauce video</h5>
					<p class="list-group-item-text">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#schedule">Job video(not html5 player yet?)</a></h4>
								</div>
								<div id="schedule" class="panel-collapse collapse">
									<div class="panel-body">
										<script src="https://saucelabs.com/video-embed/ef9138bbc29645f38cc5bb691fb34d9c.js?auth=2875d55393717b7b017698f99a8745e8"></script>
									</div>
								</div>
							</div>
						</div>
					</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4" id="container" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
	</div>

	<!--
	Only show this if there's no records
	<div class="alert alert-danger">
	There are no results for some reason :(?
	</div>
	-->

	<div id="res">
		<input class="search form-control" placeholder="Filter status" id="filter" />
		<br />
		<script>
			$(document).ready(function() {
				$("#filter").keyup(function() {
					// When value of the input is not blank
					if ($(this).val() != "") {
						// Show only matching TR, hide rest of them
						$("#res .list-group-item.detail-record").hide();
						$("#res .list-group-item.detail-record:contains-ci('" + $(this).val() + "')").show();
					} else {
						// When there is no input or clean again, show everything back
						$("#res .list-group-item.detail-record").show();
					}
				});

				// jQuery expression for case-insensitive filter

				$.extend($.expr[":"], {
					"contains-ci" : function(elem, i, match, array) {
						return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
					}
				});
			});
		</script>
		<ul class="list-group list r">
			<% @tree.roots.each do |t| %>
			<%= nested_messages t.subtree.arrange %>
			<% end %>
		</ul>
	</div>

	<%= link_to "Back", run_path, class: "btn btn-default" %>
</div>