<div class="form-group">
	<div class="span6 offset3">
		<%= form_for(@app) do |f| %>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#general" data-toggle="tab">General</a>
			</li>
			<li>
				<a href="#environments" data-toggle="tab">Environments</a>
			</li>
			<li>
				<a href="#tags" data-toggle="tab">Tags</a>
			</li>
			<li>
				<a href="#emails" data-toggle="tab">Emails</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="general">
				<h2>General Options</h2>
				<%= f.label :name %>
				<%= f.text_field :name,:class => "form-control" %>
				<br />
				<%= f.label :description %>
				<%= f.text_field :description,:class => "form-control" %>
				<br />
				<%= f.label :github_url %>
				<%= f.text_field :github_url,:class => "form-control"  %>
				<br />
			</div>

			<div class="tab-pane" id="environments">
				<h2>Application Environments</h2>
				<div id="application_enironments">
					<div class="items">
						<%= f.nested_fields_for :application_environments do |f| %>
						<fieldset class="item">
							<%= f.label :environment_name %>
							<%= f.text_field :environment_name,:class => "form-control input-sm" %>

							<%= f.label :environment_url %>
							<%= f.text_field :environment_url,:class => "form-control input-sm" %>

							<br />
							<button class="remove btn btn-sm btn-danger">
								remove</a>
								<%= f.hidden_field :id %>
								<%= f.hidden_field :_destroy %>
						</fieldset>
						<br />
						<% end %>
						<button class="add btn btn-large btn-success">
							Add Environment</a>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="tags">
				<h2>Application Tags</h2>
				<div id="application_tags">
					<div class="items">
						<%= f.nested_fields_for :application_tags do |f| %>
						<fieldset class="item">
							<%= f.label :tag %>
							<%= f.text_field :tag,:class => "form-control input-sm" %>

							<br />
							<button class="remove btn btn-xs btn-danger">
								remove</a>
								<%= f.hidden_field :id %>
								<%= f.hidden_field :_destroy %>
						</fieldset>
						<br />
						<% end %>

						<button class="add btn btn-large btn-success">
							Add Tag</a>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="emails">
				<h2>Application Emails</h2>
				<div id="application_emails">
					<div class="items">
						<%= f.nested_fields_for :application_default_emails do |f| %>
						<fieldset class="item">
							<%= f.label :email_address %>
							<%= f.text_field :email_address,:class => "form-control input-sm" %>

							<br />
							<button class="remove btn btn-xs btn-danger">
								remove</a>
								<%= f.hidden_field :id %>
								<%= f.hidden_field :_destroy %>
						</fieldset>
						<br />
						<% end %>

						<button class="add btn btn-large btn-success">
							Add Email</a>
					</div>
				</div>
			</div>
		</div>

		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
		<br />
		<%= link_to "Cancel", applications_path,:class => "btn btn-warning" %>
	</div>
</div>
