<div class="page-header">
	<h1>Run <small>Execute tests for the <span class="label label-primary"><%= @app.name %></span> application.</small></h1>
</div>

<%= form_tag("/runners", method: "post",role: "form",id: "runner") do |f|%>
<div class="form-group">
	<div class="form-group">
		<%= label_tag(:user, "Emails") %>
		<%= email_field(:user, :address,:placeholder => "Who should the reports be sent to?",:class => "form-control") %>
	</div>

	<div class="form-group">
		<%= label_tag(:environments, "Target environment") %>
		<br />
		<%= select_tag 'environments', options_for_select(@app.envs.map{|k,v| ["#{k.to_s} (#{v})",v]}),:class => "form-control" %>
	</div>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#platform_selection">Platform selection</a></h4>
				<span class="help-block">If you select nothing the default is Firefox Windows 7</span>
			</div>
			<div id="platform_selection" class="panel-collapse collapse">
				<div class="panel-body">
					<h4>Selected <span id="pnumber" class="badge">0</span></h4>
					<table cellpadding="0" cellspacing="0" border="0" class="table" id="example" width="100%">
						<thead>
							<tr>
								<th width="40%">OS</th>
								<th width="40%">Browser</th>
								<th width="20%">Version</th>
							</tr>
						</thead>

						<tbody aria-live="polite" aria-relevant="all">
							<% @platforms.each do |p| %>
							<tr>
								<td><%= p.os %></td>
								<td><%= p.long_name %></td>
								<td><%= p.long_version %></td>
							</tr>
							<% end %>
						</tbody>

						<!--<tfoot>
						<tr>
						<th width="40%">OS</th>
						<th width="40%">Browser</th>
						<th width="20%">Version</th>
						</tr>
						</tfoot>-->
					</table>
					<script>
						$('#example').dataTable({
						"sDom":"<'row'<'col-xs-6'T><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>","iDisplayLength":5,"sPaginationType":"bootstrap","oTableTools": {
						"sRowSelect":"multi","aButtons":["select_none"]
						}
						}).bind('click', function() {
						//Display this somewhere on the page.
						console.log(oTT.fnGetSelected().length)
						$('#pnumber').text(oTT.fnGetSelected().length)
						});
					</script>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= hidden_field_tag 'platforms' %>
	</div>
	<br />

	<div class="panel panel-default">
		<div class="panel-heading">
			Configuration
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-md-4">
					<div class="checkbox">
						<label> <%= check_box_tag(:parallel) %>Allow parallel runs </label>
						<span id="parallel_info" class="glyphicon glyphicon-question-sign"></span>
						<span class="help-block">This or the popover? What if there's a lot of text.How do you wrap.</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="checkbox">
						<label> <%= check_box_tag(:local) %>Local or sauce?</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="checkbox">
						<label> <%= check_box_tag(:another) %>Something else</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Tags
		</div>
		<div class="panel-body" id="tag_panel">
			<div class="btn-group">
				<button type="button" id="all_tags" class="btn btn-success">
					Check All
				</button>
				<button type="button" id="no_tags" class="btn btn-danger">
					Clear All
				</button>
			</div>

			<div class="row">
				<%= fields_for :tags do |tag_fields| %>
				<% @app.tags.each do |t| %>
				<div class = "col-md-4">
					<div class="checkbox">
						<%= t %><%= tag_fields.check_box t %>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<%= label_tag(:filter, "Filter") %>
	<span id="note_info" class="glyphicon glyphicon-question-sign"></span>
	<br/>
	<%= text_area_tag(:filter,"",:placeholder => "Filter by text.",:class => "form-control",:rows => "1") %>
	<br/>

	<br/>

	<%= label_tag(:message, "Note") %>
	<span id="note_info" class="glyphicon glyphicon-question-sign"></span>
	<br/>
	<%= text_area_tag(:message,"",:placeholder => "Provide some notes about this run.",:class => "form-control",:rows => "3") %>
	<br/>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#schedule">Schedule</a></h4>
				<span class="help-block">Set your test to execute to occur at a particular time.</span>
			</div>
			<div id="schedule" class="panel-collapse collapse">
				<div class="panel-body">
					<%= label_tag(:time_slice, "Time Slice") %>
					<div class="row">
						<div class="col-xs-2 .col-sm-2 col-md-2 col-lg-1">
							<%= text_field_tag(:number,"",:placeholder => "",:class => "form-control",:maxlength => "2",:size =>"2") %>
						</div>
						<div class="col-xs-4 .col-sm-4 col-md-2">
							<%= select_tag 'time_slice',options_for_select(["second","minute","hour","day"]),:class => "form-control" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br />

	<%= submit_tag("Run") %>

	<script>
		$('#parallel_info').popover({
		title:'Threadsafe?',content:'Your app needs to be threadsafe for this option to be enabled.',html:true
		});
		$('#note_info').popover({
		title:'Note',content:"You can provide some additional notes about your test run if you'd like",html:true
		});
		$(function() {
		$('#all_tags').click(function() {
		$('#tag_panel').find(':checkbox').prop("checked",true);
		});
		});
		$(function() {
		$('#no_tags').click(function() {
		$('#tag_panel').find(':checkbox').prop("checked",false);
		});
		});
		var oTT=TableTools.fnGetInstance('example');
		$("#runner").submit(function(event) {
		console.log("Special handler")
		var aSelectedTrs=oTT.fnGetSelectedData();
		console.log(aSelectedTrs);
		// Get our selected platforms and set them to a hidden field
		var platforms=[]
		$.each(aSelectedTrs, function(index,attr) {
		var plat= {}
		plat.browser=attr[1]
		plat.os=attr[0]
		plat.version=attr[2]
		platforms.push(plat)
		});
		$('#platforms').val(JSON.stringify(platforms))
		// Stop the submit from doing what it normall does?
		//event.preventDefault();
		});
	</script>

	<% end %>
</div>
