<li class="list-group-item clearfix <%= result.status.downcase if result.status %>">
	<% if ! result.status %> <h3><%= result.description %> at </h3> <% else %>
	<p class="list-group-item-text">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title"> 
				<%= result.description %>
				<% case result.status.downcase %>
				<% when "passed" %>
					<span class="label label-success">Passed</span> 
				<%   when "failed" %> <span class="label label-danger">Failed</span> 
				<%  when "pending" %> <span class="label label-warning">Pending</span>
				<% else %>
					something else
				<% end %> 
				</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<span>Duration
					<br />
					<span class="badge"><%= result.duration.round(2) %></span></span>
			</div>
			<div class="col-md-4">
				<span>Time
					<br />
					<span class="badge"><%= result.created_at.strftime("%r") %></span></span>
			</div>
			<div class="col-md-4">
				<span>Screenshot
					<br />
					<%= link_to image_tag(result.screenshot, :size => "50x50", :alt => "Failure Screenshot",:class => "img-circle"),asset_path(result.screenshot) %></span>
			</div>
		</div>

		<% if result.exception %>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#<%= result.id %>"><h4 class="panel-title">Exception details</h4> </a>
				</div>
				<div id="<%= result.id %>" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Exception</h3>
							</div>
							<div class="panel-body">
								<%= simple_format(result.exception) %>
							</div>
						</div>

						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">Exception Details</h3>
							</div>

							<div class="panel-body">
								<%= result.exception_details.html_safe %>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</p>
	<% end %>
	<br />
	<% end %>
</li>