<div class="page-header">
	<h1>My Apps <small>View Results and run tests</small></h1>
</div>
<ul class="list-group visible-xs">
	<% @a.each do |app| %>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-1">
				ID <span class="badge"><%= app.id %></span>
			</div>
			<div class="col-md-2">
				<h2><%= app.name %></h2>
			</div>
			<div class="col-md-2">
				<span>Description : <%= app.description %></span>
			</div>
			<div class="col-md-4">
				<div class="btn-group btn-group-justified">
					<%= link_to app,:class=>"btn btn-primary" do %>
					<span class="glyphicon glyphicon-folder-open"></span>
					<% end %>
					<%= link_to runner_path(app),:class=>"btn btn-primary" do %>
					<span class="glyphicon glyphicon-play"></span>
					<% end %>
					<%= link_to run_path(app),:class=>"btn btn-primary" do %>
					<span class="glyphicon glyphicon-list-alt"></span>
					<% end %>
					<%= link_to edit_app_path(app),:class=>"btn btn-primary" do %>
					<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				</div>
			</div>

			<div class="col-md-4">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-info disabled" role="button">Last status</a>
					<a class="btn btn-default disabled" role="button">Pass</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-info disabled" role="button">Mobile?</a>
					<a class="btn btn-default disabled" role="button"><%= app.is_application_mobile == 1 ? "Yes" : "No" %></a>
				</div>
			</div>
		</div>
	</li>
	<% end %>
</ul>

<div class="hidden-xs">
	<table class="table table-striped table-bordered" id="example">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Mobile</th>
			<th>Details</th>
			<th>Run</th>
			<th>Results</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Last status</th>
			<th>Description</th>
		</tr>
		<% @a.each do |app| %>
		<tr>
			<td><%= app.id %></td>
			<td><%= app.name %></td>
			<td><%= app.is_application_mobile == 1 ? "Yes" : "No" %></td>
			<td style="text-align:center"> <%= link_to app do %> <span class="glyphicon glyphicon-folder-open"></span> <% end %> </td>
			<td style="text-align:center"> <%= link_to runner_path(app), :class => 'button white' do %> <span class="glyphicon glyphicon-play"></span> <% end %> </td>
			<td style="text-align:center"> <%= link_to run_path(app), :class => 'button white' do %> <span class="glyphicon glyphicon-list-alt"></span> <% end %> </td>
			<td style="text-align:center"> <%= link_to edit_app_path(app), :class => 'button white' do %> <span class="glyphicon glyphicon-pencil"></span> <% end %> </td>
			<td style="text-align:center">
			<%= link_to app_path(app), :class => 'some_class', :method => :delete, :data => { :confirm => 'Are you sure you want to delete this user?' }  do %>
  				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
			</td>
			<td><%= @s.status if (@s = Run.where(app_id: app.id).last) %></td>
			<td><%= app.description %></td>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to "Home", root_path,:class => "btn btn-default" %>

