<h1>Application Details</h1>
<h3>Github location</h3>
<p>
	<%= @app.github_url %>
</p>

<h3>Tags</h3>
<% if ! @run_tags.empty? %>
<ul class="list-group">
	<% @run_tags.each do |t|%>
	<li class="list-group-item">
		<%= t.tag %>
	</li>
	<% end %>
</ul>
<% else %>
	No tags set.
<% end %>

<h3>Environments</h3>
<% if ! @environments.empty? %>
<ul class="list-group">
	<% @environments.each do |environment|%>
	<li class="list-group-item">
		<%= environment.environment_name %> : <%= environment.environment_url %>
	</li>
	<% end %>
</ul>
<% else %>
	No default environments set.
<% end %>

<h3>Emails</h3>
<% if ! @emails.empty? %>
	<ul class="list-group">
		<% @emails.each do |email|%>
		<li class="list-group-item">
			<%= email.email_address %>
		</li>
		<% end %>
	</ul>
<% else %>
	No default emails set.
<% end %>


<h3>Users</h3>
<% if ! @users.empty? %>
	<ul class="list-group">
		<% @users.each do |user|%>
		<li class="list-group-item">
			<%= user.netid %>
		</li>
		<% end %>
	</ul>
<% else %>
	No users set.
<% end %>

<%= link_to 'Back', apps_path,:class => "btn btn-default" %>
