<style>
	.list-group-item:nth-of-type(even) {
		background: #e0e0e0;
	}
</style>

<h3>Test History</h3>
<div class="visible-xs">
	<div class="row">
		<div class="col-md-4">
			<select class="form-control" id="filterOption">
				<option>all</option>
			</select>
		</div>
		<div class="col-md-4">
			<input type="text" class="search" placeholder="Search" />
		</div>
	</div>

	<ul class="list-group list">
		<!--Do something to break this up some -->
		<% @r.each do |r| %>
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-2 pull-right">
					ID <span class="badge"><%= r.id%></span><span class="label label-primary"><%= r.status %></span>
				</div>
				<div class="col-md-8">
					<%= link_to run_detail_path(:id =>r.id), :class => 'btn btn-primary' do %> <span class="glyphicon glyphicon-zoom-in"></span>View Details <% end %>
				</div>
			</div>
			<h4 class="name">Description : <%= r.description %> </h4>

			<div class="row">
				<p class="list-group-item-text">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Time info
							</div>
							<div class="panel-body">
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">Start</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.created_at.strftime("%m-%d-%y %H:%M") %></a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">Duration</a>
									<a class="btn btn-default btn-block btn-xs">2</a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">Finish</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.updated_at.strftime("%m-%d-%y %H:%M") %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Stats
							</div>
							<div class="panel-body">
								<div class="btn-group btn-group-justified">
									<a class="btn btn-success btn-block btn-xs">Pass</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.results.where(status: "Passed").count %></a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-danger btn-block btn-xs">Fail</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.results.where(status: "Failed").count %></a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-warning btn-block btn-xs">Pending</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.results.where(status: "Pending").count %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Platform info
							</div>
							<div class="panel-body">
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">OS</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.os %></a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">Browser</a>
									<a class="btn btn-default btn-block btn-xs browser"><%= r.browser %></a>
								</div>
								<div class="btn-group btn-group-justified">
									<a class="btn btn-primary btn-block btn-xs">Version</a>
									<a class="btn btn-default btn-block btn-xs"><%= r.browser_version %></a>
								</div>
							</div>
						</div>
					</div>
				</p>
			</div>
			<% if ! r.notes.empty? %>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Notes</a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<%= r.notes %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.css">

	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.0-beta.2/js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function() {
			// $('#example tfoot th').each( function () {
			// var title = $('#example thead th').eq( $(this).index() ).text();
			// $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
			// });

			var table = $('#example').DataTable({
				"ajax" : $('#app_id').text() + ".json",
				"order" : [[1, "desc"]],
				"columns" : [{
					"data" : "id"
				}, {
					"data" : "description"
				}, {
					"data" : function(data){
						if (data.status === "Queued/Running"){
							return '<span class="spinner"><i class="icon-spin icon-refresh"></i> ' + data.status + '</span>'
						}else{
							return data.status
						}
					}
				}, {
					"data" : function(data) {
						return '<div class="row"><div class="col-md-2"><span class="label label-success">1</span>' + '</div><div class="col-md-2">' + '<span class="label label-warning">2</span>' + '</div><div class="col-md-2">' + '<span class="label label-danger">3</span></div></div>';
					}
				}, {
					//"data" : "created_at"
					"data" : function(data) {
						return moment(data.created_at).format("MM-DD-YY HH:mm A");

					}
				}, {
					"data" : "duration"
				}, {
					"data" : function(data) {
						return '<button type="button" class="btn btn-default note-details" data-container="body" data-toggle="popover" data-placement="auto" data-content="' + data.notes + '"><span class="glyphicon glyphicon-pencil"></span></button>'
					}
				}, {
					"data" : function getNameAndEmail(data, type, dataToSet) {
						return '<span class="label label-info">' + data.browser + '</span><br/><span class="label label-warning">' + data.browser_version + '</span><br/><span class="label label-danger">' + data.os + '</span>';
					}
				}]
			});

			$('#button').click(function() {
				alert(table.rows('.selected').data().length + ' row(s) selected');
			});

			// $("#example tfoot input").on( 'keyup change', function () {
			// table
			// .column( $(this).parent().index()+':visible' )
			// .search( this.value )
			// .draw();
			// } );

			// $('#example tbody').on( 'click', 'tr', function () {
			// $(this).toggleClass('selected');
			// } );

			setInterval(function() {
				// need to figure out paging here
				//function(){resetPaging:false}
				table.ajax.reload();
			}, 5000);
		});
	</script>

</head>

<div id="runs" class="hidden-xs">
	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Status</th>
				<th>Pass
				<br/>
				Fail
				<br/>
				Pending</th>
				<th>Start</th>
				<th>Duration</th>
				<th>Notes</th>
				<th>OS
				<br/>
				Browser
				<br />
				Version</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Status</th>
				<th>Pass/Fail/Pending</th>
				<th>Start</th>
				<th>Duration</th>
				<th>Notes</th>
				<th>OS/Browser/Version</th>
			</tr>
		</tfoot>
	</table>
</div>
