<%= wicked_pdf_stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" %>

<h1>Test platforms</h1>
<div id="res">
<div class="list-group">
		<% @platforms.each do |p| %>
		<%= link_to test_result_detail_path(p), :class => 'list-group-item' do %>
		<span class="pull-right">ID <span class="badge"><%= p.id %></span></span>
		Execution State :
		<% if p.test_run_platform_end_time %>
		Completed <i class="fa fa-thumbs-o-up"></i>
		<% else %>
		Running <i class="fa fa-refresh fa-spin"></i>
		<% end %>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Browser info</h3>
					</div>
					<table class="table table-striped table-condensed">
						<tr>
							<td>OS</td>
							<td><%= p.platform.test_operating_system.operating_system_name %></td>
						</tr>
						<tr>
							<td>Browser</td>
							<td><%= p.platform.test_browser.browser_name %></td>
						</tr>
						<tr>
							<td>Browser Version</td>
							<td><%= p.platform.test_browser.browser_version %></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Time info</h3>
					</div>
					<table class="table table-striped table-condensed">

						<tr>
							<td>Start Time</td>
							<td><%= p.test_run_platform_start_time.localtime.strftime("%r") %></td>
						</tr>
						<% if p.test_run_platform_end_time %>
						<tr>
							<td>End Time</td>
							<td><%= p.test_run_platform_end_time.localtime.strftime("%r") %></td>
						</tr>
						<tr>
							<td>Total Duration</td>
							<td> <%= (p.test_run_platform_end_time- p.test_run_platform_start_time).round(2) %> seconds</td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
</div>