<script>
	var autorefresh = setInterval(function() {
		$(".Running,.Queued").each(function(index) {
			var element = $(this)
			$.getJSON($(this).attr('id') + '.json', function(data) {
				var items = [];
				element.find('.current_status').text(data.status);
				element.find('.count').text(data.count);

				if (data.status === "Finished") {
					element.removeClass();
					element.find('.current_status').text("Finished");
					element.find('.spinner').hide();
					element.find('.detail_button').removeAttr('disabled');
				}
			});
		});
	}, 3000)
</script>

<span class="pull-right"><%= link_to "Capture Screenshots", new_screenshot_path ,:class => "btn btn-success" %></span>

<div class="page-header">
	<h1>Screenshots <small>Here's a list of your runs</small></h1>
</div>

<% if @s.count == 0 %>
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	You haven't used this yet, give it a shot!
</div>

<% end %>

<div id="screens">
	<input type="text" class="search form-control" id="search" placeholder="Filter by url"/>
	<br />
	<ul class="list-group list">
		<% @s.each do |s| %>
		<li class="list-group-item">
			<h4 class="list-group-item-heading url"><%= link_to s.url,s.url,target: "_blank" %></h4>
			<br/>
			<%= content_tag(:span,s.status,:class => "#{s.status}",:id => "#{screenshot_path(s)}") do %>
				<p class="list-group-item-text details">
					<%= link_to "Details",screenshot_path(s), :class => "btn btn-primary detail_button",:disabled =>  s.status != 'Finished' %>
				</p>
				<span>Status : 
					<span class="current_status"><%= s.status %></span>
				</span>
				<% if s.status != "Finished" %>
					<span class="spinner"> <i class="icon-spin icon-refresh"></i> </span>
				<% end %>
				<br />
				<span>
					<span class="badge pull-left count"><%= s.screen_images.count %></span>
					<span>screenshots taken</span>
				</span>
			<% end %>
			<p class="list-group-item-text">
				Created at : <%= s.created_at.localtime.strftime('%D %r') %>
			</p>
		</li>
		<% end %>
	</ul>
	<ul class="pagination"></ul>
</div>

<script>
	var monkeyList = new List('screens', {
		valueNames : ['url'],
		page : 10,
		plugins : [ListPagination({})]
	}); 
</script>
<%= link_to "Home", root_path,:class => "btn btn-default" %>